KC_HTTP_ENABLED=false
KC_HTTP_RELATIVE_PATH=/
KC_CACHE_CONFIG_FILE=cache-ispn-jdbc-ping.xml
KC_LOG_LEVEL=INFO
KC_DB_URL=jdbc:postgresql://postgres-db:5432/keycloak
KC_DB=postgres
KC_PROXY=edge
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_STRICT_BACKCHANNEL=true
KC_DB_SCHEMA=public
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KC_HOSTNAME_ADMIN_URL=https://localhost:8080
KC_HOSTNAME_URL=https://localhost:8080
